body {
  font-family: roboto, sans-serif;
}

h1 {
  height: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 100%;
  color: #000000;
  text-align:center;
  margin-top:10px;
}


h2 {
  height: px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.45px;
  color: #000000;
  text-align:center;
  margin-top: 50px;
}

#foto{
   background: url(http://wiki.ead.pucv.cl/images/2/2a/11693911_1220635241286733_5201483538511635849_n.png);
 background-size: cover;
  height: 600px;

}


.bajada {
  width: 350px;
  font-family: Montserrat;
 font-style: normal;
 font-weight: normal;
 font-size: 12px;
 line-height: 160%;
  height:71px;
 color: #FFFFFF;
 opacity: 0.80;
 margin-left:300px;
  margin-top:50px;
  background-color:black;
}

h4 {
  font-family: Roboto;
  font-style: bold; 
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  color: #c61010;
}

p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #000000
}

