body {
  font-family: 'Roboto', sans-serif;
}

.flex-container{
  background: white
   }

#hr{
    height: 1px;
    border: 0;
    background-color:#CBC8C8; 
  margin-top: 2px;
  position:float;
}

h1 {
  height: 23px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  margin-top: 24px;
  color: #000000;
  text-align:center;
  position: float;
  ;
}


h2 {
  margin-top: 20px;
  height: 1px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.45px;
  color: #000000;
  text-align:center;
  position: float;
  
}

#foto{
   background: url(http://wiki.ead.pucv.cl/images/2/2a/11693911_1220635241286733_5201483538511635849_n.png);
 background-size: cover;
 height: 600px;
  margin-top:40px;
  

}


.bajada {
  height: 80px;
  width: 350px;
 
  margin-left:300px;
  margin-top: 30px;
  background-color:rgba(0,0,0,0.4);
  position: float;
}

h3{
  height: 80px;
  width: 350px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(255,255,255,0.8);
  margin-left:3px;
  margin-top: 30px;
  
}
.primerparrafo {
  background: white;
  height: 500px;
}

h4{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  color: #c61010;
  width: 200px;
  height:60px;
  font-size: 28px;
  position:float;
  margin-left: 450px;
  margin-top: 70px;
  
}

p {
  font-family:'Roboto';
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
  width: 300px;
  color: black;
  height:240px;
  text-align: left;
  margin-left: 450px;
  }


#foto2 {
  background: url(http://wiki.ead.pucv.cl/images/e/e4/17796608_1688322684517984_7746170810603867937_n.png);
  width: 370px;
  height:450px;
  margin-left: 300px;
  position:float;
}

.segundoparrafo{
  background: white;
  height: 560px;
  margin-left:300px;
  }

#hr1{
    height: 1px;
    position:center;
    margin-top: 32px;
    border: 0;
    background-color:#C61010; 
  
}

#foto3 {
  background: url(http://wiki.ead.pucv.cl/images/3/34/17523123_1689997677683818_6865655074190150333_n.png);
  width: 390px;
  height:542px; 
  margin-left: 300;
} 

.tercerparrafo {
 background: url(http://wiki.ead.pucv.cl/images/8/83/12924567_1315525731797683_3877302493348021079_n.png);
  height: 900px;
  width: 1200px; 
  top:30px;
  margin-top:20px;
   margin-left: 120px;
 ;
  }

#hr2{
    height: 1px;
    position:center;
    margin-top: 32px;
    border: 0;
    background-color:#C61010; 
  }


.cuartoparrafo{
   background: white;
  height: 380px;
  }

#foto4{
  background: url(http://wiki.ead.pucv.cl/images/1/19/18700015_1755409997809252_1537485570356677866_n.png);
  width: 260px;
  height:330px;
  margin-left: 300px;
  position:float;
  margin-top: 150px;
}


